/* .contactCompany{
    margin: auto;
    margin-top: 50px;
    background-color: #ff4500;
    color: white;
    text-align: center;
    width: 800px;
    padding: 10px;
    border-radius: 2px;
}

.contact{
    display: block;
    color: white;
    font-size: 20px;
}

.contactInfo{
    display: block;
    font-size: 30px;
    color: white;
    margin: auto;   
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 1000px){
    .contactCompany{
        width: 600px;
    }

    .contactInfo{
        font-size: 30px;
    }
}

@media screen and (max-width: 700px){
    .contactCompany{
        width: 400px;
    }

    .contactInfo{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px){
    .contactCompany{
        width: 300px;
    }

    .contactInfo{
        font-size: 20px;
    }
}
 */
