@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
}

.navbar{
    background-color: #ff4500;
    color: white;
    padding: 10px;
}

.nav-list{
    display: flex;
    list-style: none;
    cursor: pointer;
}

.nav-item{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.nav-item:hover{
    text-decoration: underline;
}

.nav-item>.log-out{
    margin-left: "400px";
}

@media screen and (max-width: 1000px){
    .nav-item{
        font-size: 25px;
        margin-left: 16px;
        margin-right: 16px;
    } 
    .navbar{
        padding: 9px;
    }
}

@media screen and (max-width: 700px){
    .nav-item{
        font-size: 20px;
        margin-left: 13px;
        margin-right: 13px;
    }

    .navbar{
        padding: 7px;
    }
}

@media screen and (max-width: 480px){
    .nav-item{
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar{
        padding: 5px;
    }
}
